.App {
  text-align: center;
}

button {
  margin: 0 10px;
  background: transparent;
  border: 3px solid;
  border-radius: 20px;
  padding: 10px;
  min-width: 250px;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  border-color: #aaa;
  background-color: #ddd;
}
button:disabled {
  cursor: not-allowed;
}
h5 {
  font-weight: bold;
  letter-spacing: 2px;
  margin: 30px 0;
}

ul {
  font-style: italic;
  font-weight: bold;
}
p {
  text-align: center;
}
.card {
  border: 2px solid orange;
  box-shadow: 0px 0px 53px -5px rgba(255, 234, 191, 1);
  min-height: 300px;
}

#myFileInput {
  display: none;
}
#myFileLabel {
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  /* margin-top: 5px; */
  padding: 0 6px;
}
#myFileName {
  margin: 0 10px;
  font-size: 20px;
}

.mydrop {
  min-height: 300px;
  margin-bottom: 40px;
  padding: 10px;
  border: 1px solid #ccc;
}
#drop_zone {
  line-height: 200px;
  height: 250px;
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold "Vollkorn";
  color: #bbb;
}
